body {
    background-color: #f2f2f2;
}
.comment-block {
    align-items: flex-start !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    display: flex !important;
}

.comment {
    background-color: #f9f9f9;
    display: flex;
    font-family: Roboto, Arial, sans-serif;
    margin: 4px;
    padding: 16px;
    width: 360px;
}

.img {
    border-radius: 50%;
    flex-shrink: 0;
    height: 40px;
    margin-right: 16px;
    width: 40px;
}

.comment-header {
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    margin-bottom: 2px;
}

.user {
    color: #030303;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 2px;
    margin-right: 4px;
}

.time {
    color: #606060;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
}

.comment-detail {
    color: var(--yt-spec-text-primary);
    font-size: 14px;
    line-height: 20px;
}

.delete {
    display: block;
    cursor: pointer;
}

.delete-img {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 12px;
    height: 12px;
}

.step-form {
    min-height: 410px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
}

.header-title {
    font-weight: 200;
    text-align: center;
    font-size: 28px;
    margin: 20px 0 10px;
    line-height: 1.1;
    font-family: inherit;
}

.header-title small {
    font-size: 60%;
    color: #999999;
    font-weight: 300;
    line-height: 1;
}

.step-bar {
    text-align: center;
    background-color: #999999;
    color: #ffffff;
}

a.nav-step {
    color: #ffffff;
    border-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

a.nav-step.active {
    background-color: #dc3545;
}

.step-container {
    padding-top: 100px;
    z-index: 3;
}

.image-container {
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
}

.logo-container {
    left: 50px;
    position: absolute;
    top: 20px;
    z-index: 3;
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 60px;
    float: left;
}

.logo-container .brand {
    font-size: 18px;
    color: #ffffff;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}

.container .row {
    justify-content: center !important;
}

.videoInfo {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto, Arial, sans-serif;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center!;
}

.row img {
    width: 240px;
    height: 135px;
    margin: 0.4rem;
}

.video-detail {
    width: 90%;
    box-sizing: border-box;
}

.video-detail h3 {
    color: #030303;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.2rem;
    /* cursor: pointer; */
}

.video-info-detail .channel {
    max-width: 100%;
    display: block;
    font-size: 0.9rem;
}

.video-info-detail .views {
    font-size: 0.8rem;
}

.container .row .w-50 {
    min-width: 292px;
    box-sizing: border-box;
}

.container label {
    margin-top: .5rem;
    margin-bottom: .25rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #dc3545;
    background-color: #dc3545;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #ff6171;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #ff7a87;
    border-color: #ff7a87;
}

.custom-switch
.custom-control-input:disabled:checked
~ .custom-control-label::before {
    background-color: #ff7a877e;
}

.custom-range::-webkit-slider-thumb {
    background: #dc3545;
}

.custom-range::-moz-range-thumb {
    background: #dc3545;
}

.custom-range::-ms-thumb {
    background: #dc3545;
}

.custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #ff7a877e;
}

.custom-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #ff7a877e;
}

.custom-range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #ff7a877e;
}
.custom-range::-moz-range-thumb:active {
    background-color: #ff00197e;
}

.custom-range::-moz-range-track {
    background-color: #ff00197e;
}
.custom-range::-ms-thumb:active {
    background-color: #ff00197e;
}

.custom-range::-ms-fill-lower {
    background-color: #cf979c7e;
}
.custom-range::-ms-fill-upper {

    background-color: #cf979c7e;
}


.custom-control-label:before{
    background-color:#ffffff;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#dc3545;
}

.container .row .w-50{
    min-width: 350px;
}